<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../static/js/plotly-latest.min.js"></script>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {});;
                }
            });
        }
    </script>

</head>

<body style="font-family:arial, sans-serif">
<center><h1>数据可视化分析</h1></center>
    <h2>数据字段简介</h2>
    <p>1.num:工程数字</p>
    <p>2.subject:项目数量</p>
    <p>3.attention:合作模式（分开做/合作）</p>
    <p>4.solution:解决办法</p>
    <p>5.score:得分</p>
    <h2>项目的方法模式带来的效益影响（折线图）</h2>
    <p>折线图是排列在工作表的列或行中的数据可以绘制到折线图中。折线图可以显示随时间（根据常用比例设置）而变化的连续数据，因此非常适用于显示在相等时间间隔下数据的趋势。</p>
    <p>在折线图中，类别数据沿水平轴均匀分布，所有值数据沿垂直轴均匀分布。</p>
<!--    <h2>输入模式如：divided或focus</h2>-->
<!--    -->
<!--    <input type="text" id="fname" name="fname" onchange="cb(this.value)">-->
    <div id="chart" class="chart"></div>
    <p>由折线图可以看出，对于不同的项目，如果解决方法不同，则对应的效益也会受到影响，就折线图来看，第三种方法比较适合比较多的项目情况，而第二种方法仅在10项目的时候会优于第一种方法。</p>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('chart', d, {});
</script>

<body style="font-family:arial, sans-serif">
    <h2>项目的方法模式带来的效益影响（条形图）</h2>
    <p>条形图是用宽度相同的条形的高度或长短来表示数据多少的图形。条形图可以横置或纵置，纵置时也称为柱形图。此外，条形图有简单条形图、复式条形 图等形式。</p>
    <p>图形元素：组数、组宽度、组限</p>
<!--    <h2>输入模式如：divided或focus</h2>-->

<!--    <input type="text" id="fname1" name="fname1" onchange="cb(this.value)">-->
    <div id="chart1" class="chart1"></div>
    <p>通过条形图我们可以非常直观地看到哪一种方法带给我们地效益是最高的，由与颜色从小到大是逐渐明亮的，可以得出第三种方法优于第二种方法优于第一种方法。</p>
</body>

<script>
    d = {{ graphJSON1 | safe }};
    Plotly.newPlot('chart1', d, {});
</script>

<body style="font-family:arial, sans-serif">
    <h2>项目的方法模式带来的效益影响（散点图）</h2>
    <p>散点图是指在回归分析中，数据点在直角坐标系平面上的分布图，散点图表示因变量随自变量而变化的大致趋势，据此可以选择合适的函数对数据点进行拟合。</p>
    <p>用两组数据构成多个坐标点，考察坐标点的分布，判断两变量之间是否存在某种关联或总结坐标点的分布模式。散点图将序列显示为一组点。值由点在图表中的位置表示。类别由图表中的不同标记表示。散点图通常用于比较跨类别的聚合数据。</p>
<!--    <h2>输入模式如：divided或focus</h2>-->

<!--    <input type="text" id="fname2" name="fname2" onchange="cb(this.value)">-->
    <div id="chart2" class="chart2"></div>
    <p>通过散点图我们大概可以得到每种方法在每一个项目数量上的表现情况，这也比较精细地反映了每一个数据所占的优势和劣势。</p>
</body>

<script>
    d = {{ graphJSON2 | safe }};
    Plotly.newPlot('chart2', d, {});
</script>

<body style="font-family:arial, sans-serif">
    <h2>项目的方法模式带来的效益影响（堆积区域图）</h2>
    <p>面积图又称区域图，强调数量随时间而变化的程度，也可用于引起人们对总值趋势的注意。堆积面积图和百分比堆积面积图还可以显示部分与整体的关系。</p>
    <p>图表元素：图表区、标题、绘图区、图例、坐标轴、坐标轴标题、网格线、数据标签、数据系列（区域）</p>
<!--    <h2>输入模式如：divided或focus</h2>-->

<!--    <input type="text" id="fname3" name="fname3" onchange="cb(this.value)">-->
    <div id="chart3" class="chart3"></div>
    <p>堆积区域图的理念和折线图加条形图类似，也就是计算每两条线之间的面积，较大的代表这种方法能够在更多的场合被使用。</p>
</body>

<script>
    d = {{ graphJSON3 | safe }};
    Plotly.newPlot('chart3', d, {});
</script>

<body style="font-family:arial, sans-serif">
    <h2>项目的方法模式带来的效益影响（三元散点图）</h2>
    <p>三元图，又称三元相图（Ternary plot）有三个坐标轴，与直角坐标系不同，它的三个坐标轴“首尾相接”成夹角为60度的等边三角形。“元”即成分，或部分，三元图主要用来展示不同样本的三种成分的比例，在物理化学中比较常见，如合金中不同组分的比例等。</p>
    <p>三元图数据的特点是三种成分比例的和必须为一定值（常见为1），当然，这也由等边三角性的几何性质决定的。</p>
<!--    <h2>输入模式如：divided或focus</h2>-->

<!--    <input type="text" id="fname4" name="fname4" onchange="cb(this.value)">-->
    <div id="chart4" class="chart4"></div>
    <p>随着工程数字的增加我们可以看到分数是在逐步降低的，并且整体有往中间靠拢的趋势，这就意味着工程数字会对分数造成一定的影响，但在工程数字较小的时候，影响没有那么大。</p>
</body>

<script>
    d = {{ graphJSON4 | safe }};
    Plotly.newPlot('chart4', d, {});
</script>

<body style="font-family:arial, sans-serif">
    <h2>项目的方法模式带来的效益影响（极坐标散点图）</h2>
    <p>即便自变量为连续性变量，仍然可以使用极坐标散点图。也就是说极坐标散点图通过散点的疏密程度和变化趋势表示二个连续变量的数量关系。不仅如此，如果有三个变量，并且自变量为分类变量，极坐标散点图通过对点的形状或者点的颜色来区分，即可了解这些变量之间的关系。</p>
<!--    <h2>输入模式如：divided或focus</h2>-->

<!--    <input type="text" id="fname5" name="fname5" onchange="cb(this.value)">-->
    <div id="chart5" class="chart5"></div>
    <p>通过极坐标散点图我们可以看到点基本上都集中在0~90度的范围内，这说明三种方法之间的差距是细微的，并且都是有效的，可以看到图表非常均匀，这说明每一种方法在使用到对应的项目时所造成的差异在小范围内是相差不大的。</p>
</body>

<script>
    d = {{ graphJSON5 | safe }};
    Plotly.newPlot('chart5', d, {});
</script>

<body style="font-family:arial, sans-serif">
    <h2>项目的方法模式带来的效益影响（三维散点图）</h2>
    <p>在散点图矩阵中虽然可以同时观察多个变量间的联系，但是两两进行平面散点图的观察的，有可能漏掉一些重要的信息。三维散点图就是在由3个变量确定的三维空间中研究变量之间的关系，由于同时考虑了3个变量，常常可以发现在两维图形中发现不了的信息。</p>
<!--    <h2>输入模式如：divided或focus</h2>-->

<!--    <input type="text" id="fname6" name="fname6" onchange="cb(this.value)">-->
    <div id="chart6" class="chart6"></div>
    <p>三维散点图就更直接地体现了三种方式地好坏，第三种方式一定是最优解，并且随着工程量的增加，第二种方法和第一种方法之间产生了一些交集。</p>
</body>

<script>
    d = {{ graphJSON6 | safe }};
    Plotly.newPlot('chart6', d, {});
</script>

</html>
